<div class="container-text">
        <div class="navbar-contents">
            <div class="nav-left">
                <div class="item active"><a href="{{ site.baseurl }}">Portfolio</a></div>
                <div class="item"><a href="{{ site.baseurl }}about">About</a></div>
            </div>
            <div class="nav-right">
                <div class="item">
                    <a href="https://github.com/naveenshaji" target="_blank"><img src="{{ site.baseurl }}img/brands/github.svg" alt=""></a>
                </div>
                <div class="item">
                    <a href="https://www.linkedin.com/in/naveen-shaji/" target="_blank"><img src="{{ site.baseurl }}img/brands/linkedin.svg" alt=""></a>
                </div>
                <div class="item">
                    <a href="https://www.behance.net/naveenshaji" target="_blank"><img src="{{ site.baseurl }}img/brands/behance.svg" alt=""></a>
                </div>
            </div>
        </div>

    </div>