---
title: Home | naveen.io
layout: default
---
<div class="child">
<div class="container-text">
    <div class="heading fs">
        <div class="info">
            <div class="name">Naveen Shaji</div>
            <div class="email"><a href="mailto:hi@naveen.io">hi@naveen.io</a></div>
        </div>

        <div class="tagline">
            User Experience Designer<br>
            and Frontend Developer
        </div>
        <div class="sub-tagline">also Filmmaker, Cinematographer, Writer, and Human</div>
    </div>
    <div class="client-logos">
        <div class="item one" style="background-image: url('{{site.baseurl}}img/brands/clients/1.jpg')"></div>
        <div class="item two" style="background-image: url('{{site.baseurl}}img/brands/clients/2.jpg')"></div>
        <div class="item three" style="background-image: url('{{site.baseurl}}img/brands/clients/3.jpg')"></div>
        <div class="item four" style="background-image: url('{{site.baseurl}}img/brands/clients/4.jpg')"></div>
        <div class="item five" style="background-image: url('{{site.baseurl}}img/brands/clients/5.jpg')"></div>
    </div>
</div>



    <div class="projects">


        {% for post in site.posts limit:1 %}
        <a href="{{ post.url }}" class="project-card">
            <div class="cover" style="background-image: url('{{site.baseurl}}{{ post.cover }}')"></div>
            <div class="text">
                    <div class="overflow-box">
                            <div class="os">{{ post.type }}</div>
                            <div class="fs">{{ post.title }}</div>
                            <div class="charter">{{ post.excerpt }}</div>
                    </div>
            </div>
        
        </a>
        {% endfor %}

        {% for post in site.posts offset:1 %}
        <a href="{{ post.url }}" class="project-card by2">
                <div class="cover" style="background-image: url('{{site.baseurl}}{{ post.cover }}')"></div>
                <div class="text">
                        <div class="overflow-box">
                                <div class="os">{{ post.type }}</div>
                                <div class="fs">{{ post.title }}</div>
                                <div class="charter">{{ post.excerpt }}</div>
                        </div>
                </div>
            
            </a>
        {% endfor %}



    </div>


</div>
