---
layout: default
---
<div class="child">

    <div class="container-text post-page-heading project-heading">
        <div class="os">{{ page.type }}</div>
        <div class="fs">{{ page.title }}</div>
    </div>

    <div class="post-content project-content container-text">
        {{ content }}
    </div>
    <div class="project-img">
            <img src="{{ site.baseurl }}{{ page.cover }}" alt="">
        </div>
    
        {% include get_in_touch.html %}
    {% include related_posts.html %}
</div>